@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@theme {
  --animate-marquee: marquee 15s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
body {
  font-family: "Poppins", sans-serif;
}
@keyframes spin-clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-clock 8s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate3d {
  0% {
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  50% {
    transform: perspective(1000px) rotateX(15deg) rotateY(180deg) rotateZ(5deg);
  }
  100% {
    transform: perspective(1000px) rotateX(0deg) rotateY(360deg) rotateZ(0deg);
  }
}

.animate-rotate-3d {
  animation: rotate3d 20s linear infinite;
  transform-style: preserve-3d;
}